* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mitr", sans-serif;
}

.background {
    background-color: #FFC0CB;
    width: 400px;
    height: 844px;
    justify-items: center;
}

.topbar {
    background-color:#FFCAF7;
    color: #f35eda;
    text-align: center;
    border-radius: 15px;
    width: 250px;
    align-content: center;
    border: solid 2.5px #f35eda;
}

.eattime {
    background-color:#FFCAF7;
    color: #f35eda;
    text-align: center;
    border-radius: 15px;
    width: 250px;
    align-content: center;
    border: solid 2.5px #f35eda;
    margin: 70px;
}

.desiception {
    color:#f35eda;
    display: flex;
    background-color: #FFCAF7;
    height: 200px;
    width: 350px;
    border-radius: 20px;
    align-items: center;
    border: solid 2.5px #f35eda;
    margin: 100px;
    transition :2s;
}

.photo {
    width: 400px;
    height: 270px;
    background-color: #FFCAF7;
    border: solid 2.5px #f35eda;
    border-radius: 20px;
    align-content: center;
    text-align: center;
    transition :2s;
}


.photo img {
    margin: 15px;
}
img {
    width: 120px;
    height: 220px;
    border-radius: 20px;
}
